@model MVCOnlineTicariOtomasyon.Models.Siniflar.Cariler
@using (Html.BeginForm("CariBilgiGuncelle", "CariPanel", FormMethod.Post))
{
<form class="form-horizontal">

    <div class="form-group row">

        <label for="inputName" class="col-sm-2 col-form-label">Ad</label>

        <div class="col-sm-10">

            <input type="text" name="CariAd" class="form-control" id="inputName" value="@Model.CariAd">

        </div>

    </div>

    <div class="form-group row">

        <label for="inputEmail" class="col-sm-2 col-form-label">Soyad</label>

        <div class="col-sm-10">

            <input type="text" name="CariSoyad" class="form-control" id="inputEmail" value="@Model.CariSoyad">

        </div>

    </div>

    <div class="form-group row">

        <label for="inputName2" class="col-sm-2 col-form-label">Mail Adresi</label>

        <div class="col-sm-10">

            <input type="email" name="Mail" class="form-control" id="inputName2" value="@Model.Mail">

        </div>

    </div>

    <div class="form-group row">

        <label for="inputExperience" class="col-sm-2 col-form-label">Şehir</label>

        <div class="col-sm-10">

            <input type="text" name="Sehir" class="form-control" id="inputExperience" value="@Model.Sehir"/>

        </div>

    </div>

    <div class="form-group row">

        <label for="inputSkills" class="col-sm-2 col-form-label">Şifre</label>

        <div class="col-sm-10">

            <input type="password" name="Sifre" class="form-control" id="inputSkills" value="@Model.Sifre">

        </div>

    </div>

    <div class="form-group row">

        <div class="offset-sm-2 col-sm-10">

            <div class="checkbox">

                <label>

                    <input id="chkSifre" type="checkbox"> Şifremi değiştirmek istiyorum.

                </label>

            </div>

        </div>

    </div>

    <div class="form-group row">

        <div class="offset-sm-2 col-sm-10">

            <button type="submit" class="btn btn-danger">Kaydet</button>

        </div>

    </div>

</form>
}