@using MVCOnlineTicariOtomasyon.Models.Siniflar
@model List<Faturalar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>#</th>
        <th>Seri No</th>
        <th>Sıra No</th>
        <th>Vergi Dairesi</th>
        <th>Tarih</th>
        <th>Saat</th>
        <th>Toplam</th>
        <th>Teslim Eden</th>
        <th>Teslim Alan</th>
        <th>Güncelle</th>
        <th>Detay</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FaturaID</td>
            <td>@item.FaturaSeriNo</td>
            <td>@item.FaturaSiraNo</td>
            <td>@item.VergiDairesi</td>
            <td>@item.Tarih.ToShortDateString()</td>
            <td>@item.Saat</td>
            <td>@item.Toplam</td>
            <td>@item.TeslimEden</td>
            <td>@item.TeslimAlan</td>
            <td><a href="/Fatura/FaturaGetir/@item.FaturaID" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Fatura/FaturaDetay/@item.FaturaID" class="btn btn-info">Detay</a></td>
        </tr>
    }
</table>
<a href="/Fatura/FaturaEkle" class="btn btn-primary">Fatura Ekle</a>

